body {
  margin: 0;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  background-color: #f7f7f7;
}

.container {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0, 0.2);
  border-radius: 50px;
  padding: 20px;
  max-width: 600px;
  margin: auto;
  margin-top: 50px;
}

h1{
    font-size: 36px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    font-weight: bold;
    margin-bottom: 10px;
}
input{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
}

button{
    background-color: rgb(255, 0, 76);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 3px solid rgb(255, 0, 76);
    font-weight: 300;
}

button:hover {
    border: 3px solid #ff5980;
    color: rgb(255, 0, 76);
    font-weight: bold;
    background: #fff;
  }

  #result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
  }